/* SignUpForm.css */

.signup-form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .signup-form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .signup-form input[type="text"],
  .signup-form input[type="tel"],
  .signup-form input[type="email"],
  .signup-form input[type="password"] {
    width: 95%;
    padding: 10px;
    margin-bottom: 15px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .signup-form button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .signup-form button[type="submit"]:hover {
    background-color: #0056b3;
  }
  
  .radio-group {
    margin-bottom: 15px;
  }
  
  .radio-group label {
    margin-right: 10px;
  }
  
  /* Style for radio buttons */
  .radio-group input[type="radio"] {
    display: inline-block;
    margin-right: 5px;
  }
  